<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
		<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

		<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
		<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
		<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

		{% for post in site.posts %}

		<style type="text/css">
			.home #latest-sketches.content-container .slider-item {
				background: url("{{ post.featured-image }}") center no-repeat;
			}
		</style>

		{% endfor %}
	</head>

	<body>

		<main class="home">

			<header>
				<nav id="site-nav">
					<h1><a class="mwilshireHover" href="{{ site.baseurl }}/">m.wilshire</a></h1>
					<a class="contactHover" href="#">contact</a>
				</nav>

				{% for post in site.posts %}
				<nav id="article-nav">
					<p>{{ post.date | date: "%m-%d-%Y" }}</p>
					<h2>{{ post.title }}</h2>
					<p><a href="#" class="in-active">prev</a>/<a href="#" class="in-active">next</a></p>
				</nav>
				{% endfor %}
			</header>

			{{ content }}

		</main>

		<!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="global.js"></script>

	</body>

</html>
